version: '3.8'

services:
  npm:
    build:
      context: ./docker/nginx-pm
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
        - 80:80    
        - 81:81
        - 443:443
    volumes:
        - ./docker/nginx-pm/data:/data
        - ./docker/nginx-pm/letsencrypt:/etc/letsencrypt
    environment:
        - DB_MYSQL_HOST=db
        - DB_MYSQL_PORT=3306
        - DB_MYSQL_USER=npm
        - DB_MYSQL_PASSWORD=
        - DB_MYSQL_NAME=npm
        # - DISABLE_IPV6=true
    depends_on:
        - db


  db:
    build:
      context: ./docker/mariadb
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
        - ./docker/mariadb/mysql:/var/lib/mysql
    environment:
        - MYSQL_ROOT_PASSWORD=
        - MYSQL_DATABASE=npm
        - MYSQL_USER=npm
        - MYSQL_PASSWORD=

